name: CD - Deploy to GKE

on:
  workflow_run:
    workflows: ["CI - Build & Scan"]
    types:
      - completed

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: cloudside-academy
  REGION: us-central1-a
  REPO_NAME: rohith-task
  IMAGE_NAME: rohith-devsecops
  CLUSTER_NAME: rohith-task

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/769170094354/locations/global/workloadIdentityPools/github-action-pool/providers/github-actions-provider"
          service_account: "rohith-wif@cloudside-academy.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - name: Install GKE Auth Plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin --quiet
          echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV

      - name: Get GKE Credentials
        run: |
          gcloud container clusters get-credentials $CLUSTER_NAME \
            --zone $REGION \
            --project $PROJECT_ID

      - name: Deploy to GKE
        run: |
          IMAGE=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:${{ github.event.workflow_run.head_sha }}
          sed -i "s|IMAGE_PLACEHOLDER|$IMAGE|g" k8s/deployment.yaml
          kubectl apply -f k8s/
